{{ define "create_block" }}

{{ template "header_block" }}

<body class="d-flex h-100 text-center text-white bg-dark">

<main role="main" class="inner cover">
    <h1 class="cover-heading">Add Article</h1>

    <form action="/save_article" method="post">
      <input type="text" name="title" id="title" placeholder="Enter the title" class="form-control"><br>
      <textarea name="anons" id="anons" class="form-control" placeholder="Enter Something"></textarea> <br>
      <textarea name="full_text" id="full_text" class="form-control" placeholder="Enter needed text"></textarea> <br>
      <button class="btn btn-warning">Add</button>
    </form>

</main>

</body>

{{ template "footer_block" }}

{{ end }}
