<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url("/css/1.css");
        @import url("https://getbootstrap.com/docs/5.1/examples/cover/cover.css");
        @import url("https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css");
    </style>
    <title>Home Page</title>
</head>
<body class="d-flex h-100 text-center text-white bg-dark">
    
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column" class="mainHeight" >
  <header >
    <div>
      <h3 class="float-md-start mb-0">Cover</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="#">Features</a>
        <a class="nav-link" href="/contacts/">Contact</a>
      </nav>
    </div>
  </header>

    <h1>Cover your page.</h1>
    <p class="lead" >Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-gray">Learn more</a>
    </p>

    <div>
      <h1>Current User </h1>
      <p>{{ .Name }}</p>
      <ul>
        {{range.Hobbies}}
          <li>{{.}}</li>
        {{else}}
        <li>List is empty</li>
        {{end}}
      </ul>
    </div>

  <footer class="mt-auto text-white-50">
    <p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>
  </footer>
</div>
  </body>
</html>