{{ define "index_block" }}

{{ template "header_block" }}

<body class="d-flex h-100 text-center text-white bg-dark">

    <h1>Cover your page.</h1>
    <p class="lead" >Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-gray">Learn more</a>
    </p>

    <div>
      <h1>Current Info</h1>
          <p>
              {{ range . }}
              <div class="alert alert-danger">
                <h2>{{.Title}}</h2>
                <p>{{.Anons}}</p>
                <a href="/post/{{ .Id }}" class="btn btn-danger">Read</a>
              </div>
              {{else}}
              <p class="lead">No info in database</p>
              {{ end }}

          </p>
    </div>

{{ template "footer_block" }}

</div>
  </body>

</html>


{{ end }}
