{{ define "show_post_block" }}

{{ template "header_block" }}

<body class="d-flex h-100 text-center text-white bg-dark">
    <main role="main" class="inner cover">
<div>

    <h1 class="cover-heading">{{ .Title }}</h1>
    <p class="lead">{{ .AllText}}</p>

    <p class="lead">
            <a href="/" class="btn btn-lg btn-secondary">Back</a>
    </p>
  
</div>

</main>
{{ template "footer_block" }}

  </body>

</html>


{{ end }}

