{{ define "header_block" }}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url("/css/1.css");
        @import url("https://getbootstrap.com/docs/5.1/examples/cover/cover.css");
        @import url("https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css");
    </style>
    <title>Home Page</title>
</head>

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column" class="mainHeight" >
  <header >
    <div>
      <h3 class="float-md-start mb-0">Cover</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="#">Features</a>
        <a class="nav-link" href="/contacts/">Contact</a>
        <a class="nav-link" href="/create">Add</a>
      </nav>
    </div>
  </header>

{{ end }}